:root{--body:rgb(34, 34, 34);--a:rgb(19, 104, 112);--visited:rgb(33, 140, 150);--hover:rgb(33, 140, 150);--footerbg:linear-gradient(rgb(183, 232, 236),rgb(125, 221, 230))}
body{color:var(--body)}
a{color:var(--a)}
a:visited{color:var(--visited)}
a:active,a:hover{color:var(--hover);text-decoration:none}
.footerbg{background-image:var(--footerbg)}
html{scroll-behavior:smooth}
html{scroll-behavior:smooth}
body{margin:0;font-size:1em;line-height:1.6;font-weight:400;font-family:'Roboto Slab',serif;color:#222}
h1,h2,h3{font-weight:300;margin:.5em 0}
h4,h5,h6{font-weight:700}
h1{font-size:2em;line-height:1.6}
h2{font-size:1.6em;line-height:1.6}
h3{font-size:1.3em;line-height:1.6}
.centre{text-align:center}
.right{text-align:right}
.justify{text-align:justify}
a{color:#06664e}
a:hover,a:visited{color:#0fa0ce}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:2.3em;padding:2px 30px;color:#555;text-align:center;font-size:.8em;font-weight:600;line-height:2em;letter-spacing:.1em;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#fff;background-color:#06664e;border-color:#06664e}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#fff;background-color:#1eaedb;border-color:#1eaedb}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #007ca1;outline:0}
label,legend{display:block;margin-bottom:.5em;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5em;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1em 0 1em 3em}
li{margin-bottom:1em}
code{padding:.2em .5em;margin:0 .2em;font-size:90%;white-space:nowrap;background:#f1f1f1;border:1px solid #e1e1e1;border-radius:4px}
pre>code{display:block;padding:1em 1em;white-space:pre}
table{border-collapse:collapse}
td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #c4c3c3}
td:first-child,th:first-child{padding-left:0}
td:last-child,th:last-child{padding-right:0}
img{max-width:100%;height:auto}
figure{margin:0}
@media screen and (min-width:48em){
h1{font-size:3em;line-height:1.6;margin:.5em 0}
h2{font-size:2em;line-height:1.6;margin-bottom:.5em}
h3{font-size:1.6em;line-height:1.6}
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:grid;grid-template-columns:1fr;row-gap:1em}
.container{padding:1em}
.rammi{margin:1em 0}
.rammi div{border:1px dotted;text-align:center}
@media screen and (min-width:37.5em){
.col-2,.col-4{display:grid;grid-template-columns:1fr 1fr;grid-gap:1em}
.col-3,.col-5,.col-6{grid-template-columns:1fr 1fr 1fr;grid-gap:1em}
}
@media screen and (min-width:48em){
.col-4{grid-template-columns:repeat(4,1fr)}
.col-5{grid-template-columns:repeat(5,1fr)}
.col-6{grid-template-columns:repeat(6,1fr)}
}
@media screen and (min-width:60em){
.container{max-width:60em;margin:1em auto;padding:0}
}
@media (min-width:80em){
.container{max-width:80em}
}
.col-1f,.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{display:grid;row-gap:1em}
.col-1f{grid-template-columns:1fr}
.col-2f{grid-template-columns:repeat(2,1fr)}
.col-3f{grid-template-columns:repeat(3,1fr)}
.col-4f{grid-template-columns:repeat(4,1fr)}
.col-5f{grid-template-columns:repeat(5,1fr)}
.col-6f{grid-template-columns:repeat(6,1fr)}
@media screen and (min-width:48em){
.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{grid-gap:1em}
}
.foot{background:#7fffd4}
.bgmynd{display:grid;grid-template-columns:1fr 1fr 1fr;padding-left:15px}
.nonedisplay{display:none}
.paracol{display:grid;grid-template-columns:1fr 1fr}
.rotateimg180{padding-top:100px;-webkit-transform:rotate(20deg);-moz-transform:rotate(20deg);-ms-transform:rotate(20deg);-o-transform:rotate(20deg);transform:rotate(20deg)}
.align{text-align:center;color:#fff}
.alignr{text-align:center}
.align3{text-align:center;margin:0 auto}
.align h1{margin:0 auto;width:100px;line-height:100px;border-radius:50%;font-size:32px;border:1px solid #fff}
.bakmynd{background-image:url(images/values-bg.jpg)}
.indent{text-indent:10%}
.border{border:solid 1px gray;padding:15px}
.liturgr{color:gray}
@media screen and (max-width:600px){
table thead{border:none;clip:rect(0 0 0 0);height:1px;margin:1px;overflow:hidden;padding:0;position:absolute;width:1px}
table tr{border-bottom:3px solid #ddd;display:block}
table td{border-bottom:1px solid #ddd;display:block;text-align:right}
table td::before{content:attr(data-label);float:left}
}
tr:nth-child(even){background-color:#f2f2f2}
input{width:100%}
.gramm{color:#fff}
.topnav{background-color:#333;overflow:hidden}
.topnav a{float:left;color:#f2f2f2;text-align:center;padding:14px 16px;text-decoration:none;font-size:17px}
.topnav a:hover{background-color:#ddd;color:#000}
.topnav a.active{background-color:#04aa6d;color:#fff}
ul{list-style:none;margin:0;padding:0}
a{background-position:0 50%;background-repeat:no-repeat;color:#0087cc;padding-left:22px;text-decoration:none}
a:hover{color:#ff7b29}
a[href$=".pdf"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/pdf.png)}
a[href$=".doc"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/doc.png)}
a[href$=".jpg"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/image.png)}
a[href$=".mp3"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/audio.png)}
a[href$=".mp4"]{background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/29841/video.png)}