@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body{
    font-family: Rubik;
}
.navbag{
    background-color: #0e8dad;
}

.title1{
    background-color: #0e8dad;
}
.share{
    background-color: #0e8dad;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    padding: 14px 16px;
}

@media screen and (max-width: 600px) {
.gramm{
    display: none;
}
}